/* @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-family: 'Roboto Mono', sans-serif;

    height: max-content;
    max-width: 1920px;
    margin: 0 auto;
    padding:  30px 0 0 0;
    background-color: #ffe1e1;
    position: relative;
}

.auto-logo-container {
    width: 150px;
    position: absolute;
    transform: rotateZ(-5deg);
    top: 30px;
    left: 0px;
}

.auto-logo {
    stroke: #b83434;
    stroke-width: 1.25px;
    fill: none;
    filter: drop-shadow(0 0 3px rgb(255, 0, 0));
}

.navbar {
    height: 100px;
    margin-top: 30px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    /* padding-right: 30px; */

}

.navbar > a, .navbar > a:visited {
    /* border: 1px solid red; */
    margin-right: 50px;
    text-decoration: none;
    color: rgb(180, 180, 180);
    color: #970000;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;

    display: flex;
    justify-content: center;

    transition: 0.3s color ease;
}

.navbar > a:active {
    color: #580000;
}

.login-svg {
    width: 25px;
    height: 25px;
    fill: #970000;
    transition: 0.3s fill ease;
}

.login-svg:active {
    fill: #580000;
}

header {
    margin-top: 50px;
    display: flex;
    flex-flow: row nowrap;
    min-height: 730px;
    /* max-height: 800px; */
    height: calc(100vh - 210px);
    /* border: 1px solid red; */
}

header > div {
    width: 50%;
    
    /* border: 1px solid black; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.intro {
    /* border: 1px solid blue; */
    height: 600px;
    width: 50%;
    min-height: 350px;

    /* margin-top: 100px; */

    /* align-self: center; */
    align-self: flex-start;
}

h1 {
    font-size: 160px;
    font-weight: 700;

}

header > div > p {
    font-size: 20px;
    letter-spacing: 1px;
}
.get-started {
    margin-top: 40px;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 20px;
    background-color: red;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    width: 220px;
    transition: 0.3s background ease;
}

.get-started > span {
    position: absolute;
    transition: 0.3s transform ease-in;
}

.get-started > span {
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
}

.get-started:hover .shot {
    transform: translateY(-50%) translateX(10px);
}

.get-started:active {
    background-color: rgba(255, 0, 0, 0.815);
}

.intro-showcase {
    position: relative;
    height: 100%;
    /* min-height: 900px; */
    width: 50%;
    /* border: 1px solid greenyellow; */
}

.triangle-design {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.triangle-design-svg {
    height: 100%;
    fill: #970000;
    filter: drop-shadow(-0.5px 0 10px #2900007c);
}

.slider-container {
    /* border: 1px solid greenyellow; */
    width: 100%;
    height: 100%;
    overflow: hidden;

    position: relative;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    transition: 0.3s opacity ease;

}

.current-slide {
    opacity: 1;
}

.image-container1, .image-container2, .image-container3 {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 100% 60%;
    background-size: 85%;
    transform: translateX(50%);
    opacity: 0;
    
    transition: 0.3s transform 0.5s ease, 0.3s opacity 0.5s ease;
}

.current-image {
    opacity: 1;
    transform: translateX(0);
    
}

.image-container1 {
    background-image: url('album/mercedes.png');
}
.image-container2 {
    background-image: url('album/hyundai.png');
    background-size: 95%;
}
.image-container3 {
    background-size: 95%;
    background-image: url('album/audi.png');
}

.company-name {
    position: absolute;
    height: 100px;
    bottom: 0;
    left: 50%;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.246),  transparent);
    width: 30%;
    transform: translateX(-50%);
    color: black;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    /* opacity: 0; */
}

main {
    height: max-content;
    margin-top: 50px;
    border: 1px solid red;
    
    display: flex;
    flex-flow: column nowrap;
}

main > div {
    height: max-content;
    max-width: 1400px;
    margin: 0 auto;
    border: 1px solid red;

}

.news-container {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    border: 1px solid greenyellow;
}

.news-container > div {
    height: 300px;
    width: 100%;
}


main > a, .browse > h3 {
    margin: 0 20px 0 20px;
    padding: 10px;
    background: linear-gradient(to right, #970000, transparent);
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 500;
}

main > a {
    background: linear-gradient(to left, #970000, transparent);
    align-self: flex-end;
    margin-bottom: 30px;
    margin-top: 20px;
    text-decoration: none;
}

.browse {
    height: max-content;
}

.styles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin: 20px auto;
    max-width: 1400px;
}

.styles > div {
    width: 200px;
    height: 200px;
    margin: 10px;
    /* border: 1px solid red; */
}

.styles > div > div {
    height: 184px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.sedan {
    background-image: url('styles/SEDAN.png');
}
.truck {
    background-image: url('styles/TRUCKS.png');
}
.suv {
    background-image: url('styles/SUVCROSS.png');
}
.coupe {
    background-image: url('styles/COUPE.png');
}
.hatchback {
    background-image: url('styles/HATCH.png');
}
.van {
    background-image: url('styles/VANMV.png');
}
.convert {
    background-image: url('styles/CONVERT.png');
}
.wagon {
    background-image: url('styles/WAGON.png');
}
.awd {
    background-image: url('styles/AWD4WD.png');
}
.luxury {
    background-image: url('styles/LUXURY.png');
}
.hybrid {
    background-image: url('styles/HYBEL.png');
}
.commercial {
    background-image: url('styles/COMMERCIAL.png');
}

.styles > div > p {
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: -30px;
}

footer {
    background-color: #970000;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: max-content;
}

footer > div {
    width: calc(100% / 3);
    height: 100px;
    margin: 20px 0;
    min-width: 200px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

footer > div > h5 {
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 30px;
}

footer > div > p {
    text-align: center;
}

footer > div > input {
    border: none;
    outline: none;
    padding: 5px;
    background-color: #ffffff77;
}

.social {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.social > svg {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

@media screen and (max-width: 1500px) {
    header {
        flex-flow: column nowrap;
        /* min-height: 730px; */
        /* max-height: 800px; */
        height: max-content;
    }
    
    .intro {
        width: 100%;
        height: calc(100vh - 210px);
    }
    
    header > div {
        width: 100%;
    }
    
    .intro-showcase {
        height: 80vh;
        min-height: 600px;
        width: 100%;
        align-self: flex-end;
    }
    .triangle-design {
        min-height: 600px;
        height: 80vh;
        align-self: flex-end;
    }

    .image-container1, .image-container2, .image-container3 {
        background-position: 100% 40%;
        background-size: 90%;
    }
    .image-container2, .image-container3 {
        background-position: 90% 40%;
        background-size: 90%;
    }
    .company-name {
        bottom: 0;
        left: unset;
        right: 0;
        transform: translateX(0);
        background: linear-gradient(to right, rgba(0, 0, 0, 0.246),  #970000);
        width: 100%;
        text-align: start;
        height: 150px;
    }
    
}

@media screen and (max-width: 700px) {

    h1 {
        font-size: 140px;
    }
    header > div > p {
        font-size: 18px;
    }
    .auto-logo-container {
        width: 100px;
    }
    .navbar {
        padding-right: 0;
        margin-top: 0;
    }
    .navbar > a, .navbar > a:visited {
        /* border: 1px solid red; */
        margin-right: 20px;
        font-size: 15px;
    }
}