@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    --body-background-color: #ccc;
    --link-color: #727272;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-background-color);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    position: relative;
    margin: 0 auto;

    width: 100vw;
    height: 100vh;
    max-width: 1920px;

    overflow: hidden;

    transition: background-color 2s linear;

}

.home, .skill, .about, .contact {
    width: 100vw;
    height: 100vh;
    max-width: 1920px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
}



#switch {
    /* fill: #727272; */
    width: 40px;
    height: 40px;
}

.inner-day-night {
    stroke: #333;
    fill: none;
    stroke-width: 10px;
}

.sun-moon {
    width: fit-content;

    position: absolute;
    bottom: 70px;
    right: 85px;
}

.fixed-corrector-1 {
    position: fixed;
}

.complete-sun, .moon {
    position: absolute;
    width: 40px;
    height: 40px;
}

.day-night:hover {
    cursor: pointer;
}

.navigation {
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 10;
}

.fixed-corrector-2 {
    position: fixed;

    display: flex;
    flex-flow: column nowrap;
}

a:link, a:visited {
    text-decoration: none;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 0 10px;

    margin-bottom: 3px;

    color: var(--link-color);

    transition: color 0.5s linear, text-shadow 0.5s linear;
    will-change: color;

    font-size: 18px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;


}

.link-current {
    color: #333 !important;
    text-shadow: 0.2px 0.2px 0.2px #333,
                    -0.2px -0.2px 0.2px #333;
}

.logo {
    width: 500px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
}

.skill-content, .about-content, .contact-content {
    border: 25px solid #333;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

    width: 550px;
    height: 550px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    width: 450px;
    height: 400px;
}

.contacts {
    width: 500px;
}

.about-content {
    border: none;
    box-shadow: none;
}

.about-p {
    font-size: 50px;
    font-weight: 400;
    text-align: justify;
    user-select: none;
}

.about-p span {
    font-weight: 800;
}

.contact-content {
    border: none;
    box-shadow: none;
}

@media screen and (max-width: 700px) {
    .sun-moon {
        width: fit-content;
    
        position: absolute;
        top: 6vh;
        right: 80px;
    }

    .navigation {
        top: 90vh;
        left: 50%;
    }

    .fixed-corrector-2 {
        flex-flow: row nowrap;
        transform: translateX(-50%);
    }

    a:link, a:visited {
        text-orientation: sideways;
        writing-mode: horizontal-tb;
    }

    .logo {
        width: 400px;
    }

    .skill-content {
        border: none;
        box-shadow: none;
    }
    
    .about-p {
        font-size: 35px;
        padding: 50px;
        text-align: justify;
    }

    .contacts {
        width: 400px;
    }

}